* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #fe9013;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #ffffff;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333b41;
}

.h5logo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
}

h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333b41;
}

.h5upper {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #ffffff;
}

h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000000;
    transition: 0.5s;
}

.header-alt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 70;
    transition: 0.5s;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
    width: 100%;
    transition: 0.4s;
}

.burger-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 640px;
    width: 100%;
    height: 329px;
    background-color: #ffffff;
    transition: 0.4s;
}

.header-logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 52px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin: 14px 14px 14px 0;
}

.header-logo-alt {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65.6px;
    height: 41.6px;
    border: 0.8px solid #fe9013;
    border-radius: 2px;
    margin: 10px 0 30.4px 10px;
}

.header-logo-alt:hover {
    cursor: pointer;
}

.header-logo-alt > h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15.2116px;
    line-height: 120%;
    text-align: center;
    color: #fe9013;
}

.header-logo:hover > h1 {
    cursor: pointer;
    color: #e47209;
}

.header-logo:active > h1 {
    cursor: pointer;
    color: #4b9200;
}

.header-logo > h1 {
    margin: 3px 0 0 2px;
    transition: 0.2s;
}

.bamboo {
    position: absolute;
    width: 14px;
    height: 19px;
    left: 9px;
    bottom: 7px;
}

.bamboo-alt {
    position: absolute;
    width: 10px;
    height: 15px;
    left: 7px;
    bottom: 6px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1015px;
    width: 100%;
    transition: 0.5s;
}

.header-menu-alt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 640px;
    width: 100%;
    margin: 0 0 0 10px;
    transition: 0.5s;
}

.header-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 472px;
    width: 100%;
    transition: 0.5s;
}

.header-menu-list-alt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    max-width: 200px;
    width: 100%;
    margin: 0 0 15px 0;
    transition: 0.5s;
}

.header-menu-list > li > a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    transition: 0.2s;
}

.header-menu-list-alt > li > a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333b41;
    transition: 0.2s;
}

.header-menu-list > li > a:hover {
    cursor: pointer;
    color: #fe9013;
}

.header-menu-list > li > a:active {
    cursor: pointer;
    color: #4b9200;
}

.header-menu-list-alt > li > a:hover {
    cursor: pointer;
    color: #fe9013;
}

.header-menu-list-alt > li > a:active {
    cursor: pointer;
    color: #4b9200;
}

.menu-active {
    color: #fe9013 !important;
}

.menu-active:hover {
    cursor: default !important;
}

.menu-active:active {
    cursor: default !important;
}

.header-copyr-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    transition: 0.2s;
}

.header-copyr-txt-alt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333b41;
    transition: 0.2s;
}

.header-copyr-txt:hover {
    cursor: pointer;
    color: #fe9013;
}

.header-copyr-txt:active {
    cursor: pointer;
    color: #4b9200;
}

.header-copyr-txt-alt:hover {
    cursor: pointer;
    color: #fe9013;
}

.header-copyr-txt-alt:active {
    cursor: pointer;
    color: #4b9200;
}

.header-burger {
    display: none;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 18px;
    height: 10px;
}

.header-burger-alt {
    position: absolute;
    top: 14px;
    right: 20px;
}

.header-burger > span {
    width: 18px;
    height: 2px;
    background: #ffffff;
    transition: 0.5s;
}

.header-burger:hover {
    cursor: pointer;
}

.header-burger:hover > span {
    background: #fe9013 !important;
}

.header-burger:active > span {
    background: #4b9200 !important;
}

.span1 {
    transform: rotate(0deg) translate(0px, 0px);
}

.span1-alt {
    transform: rotate(45deg) translate(4px, 1px);
    background: #333b41 !important;
}

.span2 {
    opacity: 1;
}

.span2-alt {
    opacity: 0;
}

.span3 {
    transform: rotate(0deg) translate(0px, 0px);
}

.span3-alt {
    transform: rotate(-45deg) translate(5px, -2px);
    background: #333b41 !important;
}

.hider {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 60;
    transition: 0.4s;
}

.hider-active {
    display: initial;
    z-index: 60;
    transition: 0.4s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.panda-background-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #000000;
}

.panda-background {
    height: 386px;
    max-width: 1600px;
    width: 100%;
    background-image: url(../../assets/image/panda_bg.png);
    background-position: center -4px;
    background-repeat: no-repeat;
}

.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(
            315.75deg,
            rgba(254, 210, 144, 0.7) 30.06%,
            #febdab 100.95%,
            rgba(254, 210, 144, 0.7) 106.36%
        ),
        linear-gradient(
            315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%
        ),
        linear-gradient(
            315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%
        );
}

.help-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1160px;
    width: 100%;
}

.help-wrapper > h3 {
    margin: 41px 0 9px 0;
}

.help-orange-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #fe9013;
    margin: 46px 0 59px 0;
}

.help-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin: 0 0 179px 0;
    padding: 40px 92px 62px 92px;
}

.help-content > h2 {
    margin: 0 0 0 -12px;
}

.help-content > h4 {
    align-self: flex-start;
    margin: 21px 0 59px 0;
}

.help-panda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 246px;
    width: 518px;
    background-image: url(../../assets/image/panda-widget.png),
        url(../../assets/image/x_icon.png);
    background-position: right center, 31% 56%;
    background-repeat: no-repeat, no-repeat;
}

.help-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-transform: uppercase;
    color: #000000;
    margin: 106px 0 0 45px;
}

.help-number-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333b41;
    margin: 11px 0 0 -13px;
}

.help-amount-txt {
    align-self: flex-start;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin: 48px 0 10px 4px;
}

.help-progressbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 85px;
    width: 976px;
    height: 40px;
    background-image: url(../../assets/image/progress_bar.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.help-progressbar-point {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 5px 0 0;
}

.help-progressbar-point:hover {
    cursor: pointer;
    background-color: rgba(196, 196, 196, 0.5);
}

.help-progressbar-active {
    background-image: url(../../assets/image/roller_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.help-progressbar-numbers {
    display: flex;
    flex-flow: row wrap;
    gap: 70px;
    margin: 6px 0 50px -6px;
}

.help-usd {
    width: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    color: #333b41;
}

.help-usd-active {
    color: #fe9013;
}

.help-usd > span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
}

.help-amount {
    width: 268px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    background-image: url(../../assets/image/usd.png);
    background-position: 97% center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid #929699;
    padding: 0 0 0 9px;
}

.help-amount:focus::placeholder {
    color: #4b9200;
}

.help-amount:focus {
    outline: none;
    border-color: #4b9200;
    color: #4b9200;
    background-image: url(../../assets/image/usd-green.png);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}
input[type='number']:hover,
input[type='number']:focus {
    -moz-appearance: number-input;
}

.help-radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 218px;
    height: 21px;
    margin: 25px 0 31px 10px;
}

.help-radio > label {
    position: relative;
    width: 84px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333b41;
    transition: 0.2s;
}

.help-radio > label:hover {
    cursor: pointer;
    color: #e47209;
}

.help-radio > label:active {
    cursor: pointer;
    color: #4b9200;
}

.help-radio-monthly,
.help-radio-once {
    position: relative;
    opacity: 0;
    z-index: 10;
}

.help-radio-monthly:hover,
.help-radio-once:hover {
    cursor: pointer;
}

.help-radio-monthly:hover + .custom-monthly,
.help-radio-once:hover + .custom-once {
    cursor: pointer;
    transform: scale(1.1);
}

.custom-monthly,
.custom-once {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: -2px;
    border: 1px solid #e47209;
    border-radius: 20px;
    z-index: 5;
    transition: 0.2s;
}

.custom-active {
    background: #4b9200;
    border: 1px solid #4b9200;
}

.help-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 25px;
    margin: 0 0 0 6px;
}

.help-btn:hover {
    cursor: pointer;
    background: #e47209;
}

.help-btn:active {
    cursor: pointer;
    background: #4b9200;
}

.help-btn > p {
    margin: 0 0 0 5px;
}

.help-share {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333b41;
    margin: 30px 0 0 5px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #111115;
}

.footer-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1160px;
    width: 100%;
    margin: 40px 0 50px 0;
}

.footer-logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 52px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin: 0 500px 68px 0;
}

.footer-logo > p {
    transition: 0.2s;
}

.footer-logo:hover > p {
    cursor: pointer;
    color: #e47209;
}

.footer-logo:active > p {
    cursor: pointer;
    color: #4b9200;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-subscribe > h4 {
    color: #ffffff;
    margin: 1px 0 0 0;
}

.footer-form {
    margin: 13px 0 0 0;
}

.footer-email {
    width: 228px;
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #bdbdbd;
    background-color: #111115;
    border: 1px solid #fe9013;
    margin: 0 6px 0 0;
    padding: 10px;
}

.footer-submit {
    width: 129px;
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    text-align: center;
    background: #f1f3f2;
    border: 1px solid #000000;
    border-radius: 5px;
    transition: 0.2s;
}

.footer-submit:hover {
    cursor: pointer;
    color: #e47209;
    border: 1px solid #e47209;
}

.footer-submit:active {
    cursor: pointer;
    color: #4b9200;
    border: 1px solid #4b9200;
}

.footer-email:focus:valid {
    border: 1px solid #4b9200;
}

.footer-email:focus:invalid {
    border: 1px solid #d31414;
}

.footer-email:focus:valid + .footer-submit {
    border: 1px solid #4b9200;
    color: #4b9200;
}

.footer-email:focus:invalid + .footer-submit {
    border: 1px solid #d31414;
    color: #d31414;
}

.footer-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: start;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 5px;
    margin: 1px 800px 44px 0;
}

.footer-btn:hover {
    cursor: pointer;
    background: #e47209;
}

.footer-btn:active {
    cursor: pointer;
    background: #4b9200;
}

.footer-media {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 9px;
}

.media-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.media-wrapper:hover {
    cursor: pointer;
}

.media-wrapper:hover > div {
    background-color: #e47209;
}

.media-wrapper:hover > p {
    color: #e47209;
}

.media-wrapper:active > div {
    background-color: #4b9200;
}

.media-wrapper:active > p {
    color: #4b9200;
}

.media1-icon {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: rgba(196, 196, 196, 0.5);
    background-image: url(../../assets/image/Facebook.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.media2-icon {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: rgba(196, 196, 196, 0.5);
    background-image: url(../../assets/image/twitter.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.media3-icon {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: rgba(196, 196, 196, 0.5);
    background-image: url(../../assets/image/instagram.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.media4-icon {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: rgba(196, 196, 196, 0.5);
    background-image: url(../../assets/image/youtube.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.media-wrapper > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    margin: 5px 0 0 12px;
}

.media-wrapper > div,
.media-wrapper > p {
    transition: 0.2s;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    max-width: 362px;
    width: 100%;
    margin: 0 0 2px 118px;
}

.footer-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 362px;
    width: 100%;
}

.footer-menu-list > li > a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    transition: 0.2s;
}

.footer-menu-list > li > a:hover {
    cursor: pointer;
    color: #fe9013;
}

.footer-menu-list > li > a:active {
    cursor: pointer;
    color: #4b9200;
}

.footer-txt {
    align-self: flex-end;
    margin: 0 0 2px 0;
}

.footer-txt > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
    margin: 10px 0 0 0;
}

@media screen and (max-width: 1500px) {
    .header {
        background-color: #111115;
    }

    .header-content {
        max-width: 940px;
    }

    .header-logo {
        min-width: 82px;
    }

    .header-menu {
        max-width: 795px;
    }

    .header-menu-list {
        max-width: 431px;
    }

    .panda-background-wrapper {
        background-color: #111115;
    }

    .panda-background {
        height: 390px;
        max-width: 1000px;
        background-position: 28.7% center;
    }

    .help-wrapper {
        max-width: 940px;
        width: 100%;
    }

    .help-wrapper > h3 {
        max-width: 780px;
        margin: 41px 0 29px 0;
    }

    .help-orange-txt {
        margin: 46px 0 39px 0;
    }

    .help-content {
        margin: 0 0 30px 0;
        padding: 20px 44px 46px 47px;
    }

    .help-content > h2 {
        margin: 0 0 0 -19px;
    }

    .help-content > h4 {
        margin: 11px 0 60px 0;
    }

    .help-panda {
        width: 513px;
        background-image: url(../../assets/image/panda-widget.png),
            url(../../assets/image/x_icon.png);
        background-position: right center, 30.3% 56%;
    }

    .help-number {
        margin: 106px 0 0 40px;
    }

    .help-number-description {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333b41;
        margin: 10px 0 0 -19px;
    }

    .help-amount-txt {
        margin: 48px 0 9px 18px;
    }

    .help-progressbar {
        gap: 90px;
        width: 860px;
        background-image: url(../../assets/image/progress_bar1000.png);
        margin: 0 0 0 -4px;
    }

    .help-progressbar div:nth-child(1) {
        display: none;
    }

    .help-progressbar-point {
        margin: 0;
    }

    .help-progressbar-numbers {
        gap: 90px;
        margin: 6px 0 50px 6px;
    }

    .help-progressbar-numbers p:nth-child(1) {
        display: none;
    }

    .help-usd {
        width: 40px;
    }

    .help-amount {
        margin: 0 0 0 -4px;
    }

    .help-radio {
        margin: 27px 0 29px 4px;
    }

    .help-btn {
        margin: 0 0 0 1px;
    }

    .help-share {
        margin: 30px 0 -1px 0;
    }

    .footer-wrapper {
        max-width: 940px;
    }

    .footer-logo {
        margin: 0 425px 68px 0;
    }

    .footer-subscribe {
        position: relative;
        left: -33px;
    }

    .footer-btn {
        margin: 1px 600px 44px 0;
    }

    .footer-menu {
        max-width: 332px;
    }
}

@media screen and (max-width: 999px) {
    .header {
        position: fixed;
        z-index: 70;
    }

    .header-content {
        max-width: 600px;
        height: 34px;
    }

    .header-logo {
        width: 47px;
        height: 29px;
        border: none;
        border-radius: unset;
        min-width: unset;
        margin: 3px 0 0 0;
    }

    .bamboo {
        position: absolute;
        width: 9px;
        height: 13px;
        left: 2px;
        bottom: 4px;
    }

    .header-logo > h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        text-align: center;
        color: #ffffff;
        margin: 0;
    }

    .header-menu {
        display: none;
    }

    .header-burger {
        display: flex;
    }

    .panda-background {
        max-width: 640px;
        width: 100%;
        height: 369px;
        background-image: url(../../assets/image/panda_bg640.png);
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    .help-wrapper {
        max-width: 600px;
    }

    h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
    }

    .help-wrapper > h3 {
        margin: 30px 0 20px 0;
    }

    .help-orange-txt {
        margin: 29px 0 29px 0;
    }

    .help-content {
        padding: 30px 0 32px 0;
        margin: 0 0 46px 0;
    }

    .help-content > h2 {
        margin: 0 0 0 2px;
    }

    .help-content > h4 {
        align-self: unset;
        margin: 22px 0 49px 0;
        text-align: center;
    }

    .help-panda {
        margin: 0 0 0 5px;
    }

    .help-amount-txt {
        margin: 41px 0 -1px 11px;
    }

    .help-progressbar {
        gap: 90px;
        width: 600px;
        height: 40px;
        background-image: url(../../assets/image/progreess_bar640.png);
        background-position: 55% 46%;
        background-repeat: no-repeat;
        margin: 0;
    }

    .help-progressbar div:nth-child(2) {
        display: none;
    }

    .help-progressbar div:nth-child(3) {
        display: none;
    }

    .help-progressbar-numbers {
        gap: 90px;
        margin: 6px 0 50px -6px;
    }

    .help-progressbar-numbers p:nth-child(2) {
        display: none;
    }

    .help-progressbar-numbers p:nth-child(3) {
        display: none;
    }

    .help-usd-640,
    .help-usd-640 > span {
        color: #fe9013;
    }

    .help-amount {
        width: 180px;
        height: 42px;
        background-position: 95% center;
        background-repeat: no-repeat;
        background-color: transparent;
        margin: 0 0 0 1px;
        padding: 0 0 0 5px;
    }

    .help-radio {
        margin: 32px 0 29px 7px;
    }

    .help-btn {
        margin: 0 0 0 3px;
    }

    .footer-wrapper {
        position: relative;
        max-width: 600px;
        margin: 12px 0 12px 0;
    }

    .footer-logo {
        margin: 0 400px 32px 0;
    }

    .bamboo-footer {
        width: 14px;
        height: 20px;
        left: 9px;
        bottom: 7px;
    }

    .footer-subscribe {
        display: none;
    }

    .footer-media {
        position: absolute;
        top: 0;
        right: 0;
        gap: 20px;
    }

    .media-wrapper > p {
        display: none;
    }

    .footer-btn {
        margin: 0 300px 60px 0;
    }

    .footer-menu {
        max-width: 296px;
        margin: 0 0 0 0;
    }

    .footer-menu-list > li > a {
        font-weight: 400;
    }

    .footer-txt {
        margin: 0 0 0 0;
    }
}

@media screen and (max-width: 639px) {
    .header-content {
        max-width: 300px;
    }

    .burger-menu {
        max-width: 320px;
    }

    .header-burger-alt {
        position: absolute;
        top: 14px;
        right: 12px;
    }

    .panda-background {
        height: 221px;
        max-width: 320px;
        width: 100%;
        background-image: url(../../assets/image/panda_bg320.png);
        background-position: center 34px;
        background-repeat: no-repeat;
    }

    .help-wrapper {
        max-width: 300px;
    }

    .help-wrapper > h3 {
        margin: 31px 0 20px 0;
    }

    .help-wrapper > h6 {
        line-height: 138%;
    }

    .help-orange-txt {
        font-weight: 400;
        font-size: 24px;
        margin: 28px 0 28px 0;
    }

    .help-content {
        padding: 20px 0;
        margin: 0 0 21px 0;
    }

    .help-content > h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        margin: 1px 0 0 0;
    }

    .help-content > h4 {
        align-self: flex-start;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin: 10px 0 0 0;
    }

    .help-panda {
        height: 149px;
        width: 300px;
        background-image: url(../../assets/image/panda-widget320.png),
            url(../../assets/image/x_icon320.png);
        background-position: 98% 90%, 32% 59%;
        background-repeat: no-repeat, no-repeat;
    }

    .help-number {
        font-size: 40px;
        margin: 68px 0 0 31px;
    }

    .help-number-description {
        font-size: 9px;
        margin: 9px 0 0 -2px;
    }

    .help-amount-txt {
        margin: 3px 0 -5px 0;
    }

    .help-progressbar {
        gap: 45px;
        width: 300px;
        height: 40px;
        background-image: url(../../assets/image/progress_bar320.png);
    }

    .help-progressbar-point {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        margin: 10px 0 0 0;
    }

    .help-progressbar-numbers {
        display: flex;
        flex-flow: row wrap;
        gap: 45px;
        margin: -8px 0 25px -4px;
    }

    .help-usd {
        width: 20px;
        font-size: 13px;
    }

    .help-usd > span {
        font-size: 11px;
    }

    .help-usd-640 {
        color: #fe9013;
    }

    .help-radio {
        margin: 26px 0 27px 2px;
    }

    .help-btn {
        margin: 0 0 0 0;
    }

    .help-share {
        width: 301px;
        margin: 30px 0 0 0;
    }

    .footer-wrapper {
        display: flex;
        flex-flow: unset;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 300px;
        width: 100%;
        margin: 20px 0 20px 0;
    }

    .footer-logo {
        width: 130px;
        height: 23px;
        border: none;
        border-radius: 2px;
        margin: 0 0 0 0;
    }

    .bamboo-footer {
        left: 72px;
    }

    .footer-btn {
        margin: 86px 0 109px -1px;
    }

    .footer-media {
        flex-flow: row wrap;
        top: 53px;
        right: 53px;
        gap: 30px;
    }

    .footer-menu {
        max-width: 280px;
        margin: 0 10px 0 0;
    }

    .footer-txt {
        position: absolute;
        bottom: 45px;
        right: 1px;
    }

    .footer-txt > p {
        font-size: 15px;
        line-height: 210%;
        color: #ffffff;
        margin: unset;
    }
}
