* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333b41;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #000000;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333b41;
}

.h5logo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
}

h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333b41;
}

.h5upper {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #ffffff;
}

h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000000;
    transition: 0.5s;
}

.header-alt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 70;
    transition: 0.5s;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1160px;
    width: 100%;
    transition: 0.4s;
}

.burger-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 640px;
    width: 100%;
    height: 329px;
    background-color: #ffffff;
    transition: 0.4s;
}

.header-logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 52px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin: 14px 14px 14px 0;
}

.header-logo-alt {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65.6px;
    height: 41.6px;
    border: 0.8px solid #fe9013;
    border-radius: 2px;
    margin: 10px 0 30.4px 10px;
}

.header-logo-alt:hover {
    cursor: pointer;
}

.header-logo-alt > h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15.2116px;
    line-height: 120%;
    text-align: center;
    color: #fe9013;
}

.header-logo:hover > h1 {
    cursor: pointer;
    color: #e47209;
}

.header-logo:active > h1 {
    cursor: pointer;
    color: #4b9200;
}

.header-logo > h1 {
    margin: 3px 0 0 2px;
    transition: 0.2s;
}

.bamboo {
    position: absolute;
    width: 14px;
    height: 19px;
    left: 9px;
    bottom: 7px;
}

.bamboo-alt {
    position: absolute;
    width: 10px;
    height: 15px;
    left: 7px;
    bottom: 6px;
}

.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1015px;
    width: 100%;
    transition: 0.5s;
}

.header-menu-alt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 640px;
    width: 100%;
    margin: 0 0 0 10px;
    transition: 0.5s;
}

.header-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 472px;
    width: 100%;
    transition: 0.5s;
}

.header-menu-list-alt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    max-width: 200px;
    width: 100%;
    margin: 0 0 15px 0;
    transition: 0.5s;
}

.header-menu-list > li > a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    transition: 0.2s;
}

.header-menu-list-alt > li > a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333b41;
    transition: 0.2s;
}

.header-menu-list > li > a:hover {
    cursor: pointer;
    color: #fe9013;
}

.header-menu-list > li > a:active {
    cursor: pointer;
    color: #4b9200;
}

.header-menu-list-alt > li > a:hover {
    cursor: pointer;
    color: #fe9013;
}

.header-menu-list-alt > li > a:active {
    cursor: pointer;
    color: #4b9200;
}

.menu-active {
    color: #fe9013 !important;
}

.menu-active:hover {
    cursor: default !important;
}

.menu-active:active {
    cursor: default !important;
}

.header-copyr-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    transition: 0.2s;
}

.header-copyr-txt-alt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333b41;
    transition: 0.2s;
}

.header-copyr-txt:hover {
    cursor: pointer;
    color: #fe9013;
}

.header-copyr-txt:active {
    cursor: pointer;
    color: #4b9200;
}

.header-copyr-txt-alt:hover {
    cursor: pointer;
    color: #fe9013;
}

.header-copyr-txt-alt:active {
    cursor: pointer;
    color: #4b9200;
}

.header-burger {
    display: none;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 18px;
    height: 10px;
}

.header-burger-alt {
    position: absolute;
    top: 14px;
    right: 20px;
}

.header-burger > span {
    width: 18px;
    height: 2px;
    background: #ffffff;
    transition: 0.5s;
}

.header-burger:hover {
    cursor: pointer;
}

.header-burger:hover > span {
    background: #fe9013 !important;
}

.header-burger:active > span {
    background: #4b9200 !important;
}

.span1 {
    transform: rotate(0deg) translate(0px, 0px);
}

.span1-alt {
    transform: rotate(45deg) translate(4px, 1px);
    background: #333b41 !important;
}

.span2 {
    opacity: 1;
}

.span2-alt {
    opacity: 0;
}

.span3 {
    transform: rotate(0deg) translate(0px, 0px);
}

.span3-alt {
    transform: rotate(-45deg) translate(5px, -2px);
    background: #333b41 !important;
}

.hider {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 60;
    transition: 0.4s;
}

.hider-active {
    display: initial;
    z-index: 60;
    transition: 0.4s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.watch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #000000;
}

.watch-wrapper {
    position: relative;
    height: 700px;
    max-width: 1600px;
    width: 100%;
    background-image: url(../../assets/image/GiantPanda.png);
    background-position: center -80px;
    background-repeat: no-repeat;
}

.watch-circle {
    position: absolute;
    width: 465px;
    height: 465px;
    right: calc(25% - 72px);
    top: 12px;
    border: none;
    border-radius: 250px;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}

.watch-circle-txt {
    width: 500px;
    height: 400px;
    margin: 74px 0 0 73px;
}

.watch-circle-txt > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.watch-circle-txt > p > span {
    color: #ffee2e;
}

.watch-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 298px;
    height: 54px;
    right: calc(25% - 81px);
    bottom: 100px;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 25px;
}

.watch-btn:hover {
    cursor: pointer;
    background: #e47209;
}

.watch-btn:active {
    cursor: pointer;
    background: #4b9200;
}

.watch-btn > p {
    margin: 0 0 0 4px;
}

.backstage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}

.backstage-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    background-image: url(../../assets/image/flower_foto1.png);
    background-position: right 12px;
    background-repeat: no-repeat;
}

.backstage-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1160px;
    width: 100%;
    margin: 137px 0 175px 0;
}

.backstage-img {
    width: 609px;
    height: 403px;
}

.backstage-img1000 {
    display: none;
    width: 455px;
    height: 408px;
}

.backstage-txt {
    max-width: 464px;
    width: 100%;
    margin: 3px 0 0 0;
}

.backstage-txt2 {
    line-height: 130%;
    margin: 22px 0 54px 0;
}

.backstage-txt4 {
    margin: 34px 0 0 0;
}

.pets {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}

.pets-wrapper1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    background-image: url(../../assets/image/palm_foto.png),
        url(../../assets/image/strelitzia1.png);
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
}

.pets-wrapper2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1160px;
    width: 100%;
    overflow: hidden;
}

.pets-pagination {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1322px;
    width: 100%;
    height: 62px;
    left: calc(50% - 662px);
    top: 403px;
}

.pets-left,
.pets-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 31px;
    border: none;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}

.pets-left:hover,
.pets-right:hover {
    cursor: pointer;
    background: #e47209;
}

.pets-left:active,
.pets-right:active {
    cursor: pointer;
    background: #4b9200;
}

.pets-right {
    transform: rotate(-180deg);
}

.pets-slider {
    position: relative;
    align-self: center;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-flow: row wrap;
    gap: 20px 30px;
    width: 3534px;
    height: 872px;
}

.pets-slider-box {
    position: relative;
    top: 0;
    left: 1188px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px 30px;
    width: 1158px;
    height: 872px;
    transition: 0.4s;
}

.pets-slider-elem {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 366px;
    height: 426px;
    border: 1px solid #fe9013;
    border-radius: 5px;
    transition: 0.2s;
}

.pets-slider-elem:hover {
    background-size: 386px 386px;
    background-position: center -20px;
}

.pets-slider-elem:hover > .pets-slider-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 92%;
    transform: scale(1.09);
    margin: 0 0 16px 13px;
    padding: 0 0 60px 16px;
    background-image: unset;
    background-color: rgba(0, 0, 0, 0.5);
}

.pets-slider-elem:hover > .pets-slider-description > p,
.pets-slider-elem:hover > .pets-slider-description > h6 {
    color: white;
}

.pets-slider1 {
    background-image: url(../../assets/image/pet-panda.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider2 {
    background-image: url(../../assets/image/pet-eagle.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider3 {
    background-image: url(../../assets/image/pet-gorilla.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider4 {
    background-image: url(../../assets/image/pet-unknown.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider5 {
    background-image: url(../../assets/image/pet-cheetah.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider6 {
    background-image: url(../../assets/image/pet-penguin.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider7 {
    background-image: url(../../assets/image/pet-alligator.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider8 {
    background-image: url(../../assets/image/pet8.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider9 {
    background-image: url(../../assets/image/pet9.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider10 {
    background-image: url(../../assets/image/pet10.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider11 {
    background-image: url(../../assets/image/pet11.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider12 {
    background-image: url(../../assets/image/pet12.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider13 {
    background-image: url(../../assets/image/pet13.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider14 {
    background-image: url(../../assets/image/pet14.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider15 {
    background-image: url(../../assets/image/pet15.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider16 {
    background-image: url(../../assets/image/pet16.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider17 {
    background-image: url(../../assets/image/pet17.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider18 {
    background-image: url(../../assets/image/pet18.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider19 {
    background-image: url(../../assets/image/pet19.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider20 {
    background-image: url(../../assets/image/pet20.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider21 {
    background-image: url(../../assets/image/pet21.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.pets-slider-description {
    max-width: 338px;
    width: 100%;
    margin: 0 0 13px 16px;
    transition: 0.2s;
}

.description1,
.description3,
.description4 {
    background-image: url(../../assets/image/banana-bamboo_icon.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.description2,
.description5,
.description6,
.description7 {
    background-image: url(../../assets/image/meet-fish_icon.png);
    background-position: 101% bottom;
    background-repeat: no-repeat;
}

.pets-slider-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 -3px 0;
}

.h640 {
    display: none;
}

.pets-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 298px;
    height: 54px;
    background: #fe9013;
    border-radius: 25px;
    margin: 80px 0 100px 0;
}

.pets-btn > p {
    margin: 2px 0 0 4px;
}

.pets-btn:hover {
    cursor: pointer;
    background: #e47209;
}

.pets-btn:active {
    cursor: pointer;
    background: #4b9200;
}

.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(
            315.75deg,
            rgba(254, 210, 144, 0.7) 30.06%,
            #febdab 100.95%,
            rgba(254, 210, 144, 0.7) 106.36%
        ),
        linear-gradient(
            315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%
        ),
        linear-gradient(
            315.75deg,
            rgba(254, 189, 171, 0.74) 30.06%,
            rgba(243, 169, 248, 0.66) 50.74%,
            #e0d8f0 80.49%,
            #eaf7fe 127.9%,
            #eaf7fe 149.54%
        );
    opacity: 0.9;
}

.friend-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1160px;
    width: 100%;
    margin: 69px 220px 100px 221px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.friend-wrapper > h2 {
    color: #fe9013;
    margin: 41px 0 32px 3px;
}

.friend-wrapper > h4 {
    align-self: start;
    margin: 0 0 0 99px;
}

.friend-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #333b41;
    align-self: start;
    margin: 40px 0 10px 99px;
}

.friend-txt2 {
    max-width: 870px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333b41;
    align-self: start;
    margin: 0 0 60px 99px;
}

.friend-link {
    color: #333b41;
    text-decoration: underline;
    text-decoration-color: #e47209;
    transition: 0.2s;
}

.friend-link:hover {
    color: #e47209;
}

.friend-link:active {
    color: #4b9200;
    text-decoration-color: #4b9200;
}

.friend-wrapper > h3 {
    margin: 1px 0 0 -2px;
}

.freind-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 39px 0 0 0;
}

.friend-work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 168px;
    height: 244px;
    border-radius: 5px;
}

.friend-work1 {
    width: 168px;
    height: 168px;
    background-image: url(../../assets/image/pay.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: 1px solid #fe9013;
    border-radius: 5px;
}

.friend-work2 {
    width: 168px;
    height: 168px;
    background-image: url(../../assets/image/zoo.png);
    background-position: 49% 52%;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: 1px solid #fe9013;
    border-radius: 5px;
}

.friend-work3 {
    width: 168px;
    height: 168px;
    background-image: url(../../assets/image/monkey.png);
    background-position: center 49%;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: 1px solid #fe9013;
    border-radius: 5px;
}

.friend-work > h5 {
    margin: 30px 0 0 0;
}

.friend-arrow1 {
    margin: 61px 30px 0 29px;
}

.friend-arrow2 {
    margin: 57px 30px 0 29px;
}

.friend-arrow1-green,
.friend-arrow2-green {
    display: none;
}

.friend-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 25px;
    margin: 60px 0 59px 0;
}

.friend-btn:hover {
    cursor: pointer;
    background: #e47209;
}

.friend-btn:active {
    cursor: pointer;
    background: #4b9200;
}

.friend-btn > p {
    margin: 0 0 0 3px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}

.testimonials-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    background-image: url(../../assets/image/leav_foto.png);
    background-position: 100% 126%;
    background-repeat: no-repeat;
}

.testimonials-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1163px;
    width: 100%;
    height: 598px;
    margin: 141px 0 180px 0;
    overflow: hidden;
}

.testimonials-content > h3 {
    margin: 0 0 458px 0;
}

.testimonials-cards {
    position: absolute;
    top: 47px;
    left: 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0 29px;
    width: 3300px;
    height: 391px;
    margin: 46px 0 21px 0;
    transition: 0.4s;
}

.testimonials-cards .testimonials-card-background:nth-child(5),
.testimonials-cards .testimonials-card-background:nth-child(6),
.testimonials-cards .testimonials-card-background:nth-child(7),
.testimonials-cards .testimonials-card-background:nth-child(8),
.testimonials-cards .testimonials-card-background:nth-child(9),
.testimonials-cards .testimonials-card-background:nth-child(10),
.testimonials-cards .testimonials-card-background:nth-child(11) {
    display: none;
}

.testimonials-card-background {
    width: 269px;
    height: 391px;
    background: linear-gradient(
        315.75deg,
        rgba(254, 189, 171, 0.74) 30.06%,
        rgba(243, 169, 248, 0.66) 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
    );
    border-radius: 20px;
    pointer-events: none;
}

.testimonials-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 265px;
    height: 387px;
    background: #f1f3f2;
    border-radius: 20px;
    margin: 2px 0 0 2px;
}

.testimonials-card > h6 {
    color: #767474;
    margin: 11px 14px 0 14px;
    z-index: 10;
    overflow-y: auto;
}

.testimonials-card > h6::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.card-title {
    width: 220px;
    height: 37px;
    margin: 13px 0 0 15px;
    z-index: 10;
}

.card-title1 {
    background-image: url(../../assets/image/user_icon.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.card-title2 {
    background-image: url(../../assets/image/user_icon2.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.card-title3 {
    background-image: url(../../assets/image/user_icon3.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.card-title4 {
    background-image: url(../../assets/image/user_icon4.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.card-title-txt1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    margin: 0 0 0 47px;
}

.card-title-txt2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #bdbdbd;
    margin: 0 0 0 47px;
}

.card-title-txt2 > span {
    margin: 0 5px 0 6px;
}

.testimonials-line {
    position: relative;
    width: 599px;
    height: 8px;
    -webkit-appearance: none;
}

.testimonials-line::-webkit-slider-runnable-track {
    border: 1px solid #fe9013;
    border-radius: 5px;
    background: #f5f7f6;
}

.testimonials-line::-webkit-slider-runnable-track:hover {
    cursor: pointer;
}

.testimonials-line::-webkit-slider-thumb {
    width: 75px;
    height: 6px;
    background: #fe9013;
    border-radius: 5px;
    -webkit-appearance: none;
}

.testimonials-line::-webkit-slider-thumb:hover {
    cursor: pointer;
    background: #e47209;
}

.testimonials-line::-webkit-slider-thumb:active {
    cursor: pointer;
    background: #4b9200;
}

.testimonials-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: start;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 5px;
    margin: 31px 0 0 0;
}

.testimonials-btn:hover {
    cursor: pointer;
    background: #e47209;
}

.testimonials-btn:active {
    cursor: pointer;
    background: #4b9200;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #111115;
}

.footer-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1160px;
    width: 100%;
    margin: 40px 0 50px 0;
}

.footer-logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 52px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin: 0 500px 68px 0;
}

.footer-logo > p {
    transition: 0.2s;
}

.footer-logo:hover > p {
    cursor: pointer;
    color: #e47209;
}

.footer-logo:active > p {
    cursor: pointer;
    color: #4b9200;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-subscribe > h4 {
    color: #ffffff;
    margin: 1px 0 0 0;
}

.footer-form {
    margin: 13px 0 0 0;
}

.footer-email {
    width: 228px;
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #bdbdbd;
    background-color: #111115;
    border: 1px solid #fe9013;
    margin: 0 6px 0 0;
    padding: 10px;
}

.footer-submit {
    width: 129px;
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    text-align: center;
    background: #f1f3f2;
    border: 1px solid #000000;
    border-radius: 5px;
    transition: 0.2s;
}

.footer-submit:hover {
    cursor: pointer;
    color: #e47209;
    border: 1px solid #e47209;
}

.footer-submit:active {
    cursor: pointer;
    color: #4b9200;
    border: 1px solid #4b9200;
}

.footer-email:focus:valid {
    border: 1px solid #4b9200;
}

.footer-email:focus:invalid {
    border: 1px solid #d31414;
}

.footer-email:focus:valid + .footer-submit {
    border: 1px solid #4b9200;
    color: #4b9200;
}

.footer-email:focus:invalid + .footer-submit {
    border: 1px solid #d31414;
    color: #d31414;
}

.footer-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: start;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 5px;
    margin: 1px 800px 44px 0;
}

.footer-btn:hover {
    cursor: pointer;
    background: #e47209;
}

.footer-btn:active {
    cursor: pointer;
    background: #4b9200;
}

.footer-media {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 9px;
}

.media-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.media-wrapper:hover {
    cursor: pointer;
}

.media-wrapper:hover > div {
    background-color: #e47209;
}

.media-wrapper:hover > p {
    color: #e47209;
}

.media-wrapper:active > div {
    background-color: #4b9200;
}

.media-wrapper:active > p {
    color: #4b9200;
}

.media1-icon {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: rgba(196, 196, 196, 0.5);
    background-image: url(../../assets/image/Facebook.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.media2-icon {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: rgba(196, 196, 196, 0.5);
    background-image: url(../../assets/image/twitter.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.media3-icon {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: rgba(196, 196, 196, 0.5);
    background-image: url(../../assets/image/instagram.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.media4-icon {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: rgba(196, 196, 196, 0.5);
    background-image: url(../../assets/image/youtube.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.media-wrapper > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    margin: 5px 0 0 12px;
}

.media-wrapper > div,
.media-wrapper > p {
    transition: 0.2s;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    max-width: 362px;
    width: 100%;
    margin: 0 0 2px 118px;
}

.footer-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 362px;
    width: 100%;
}

.footer-menu-list > li > a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
    transition: 0.2s;
}

.footer-menu-list > li > a:hover {
    cursor: pointer;
    color: #fe9013;
}

.footer-menu-list > li > a:active {
    cursor: pointer;
    color: #4b9200;
}

.footer-txt {
    align-self: flex-end;
    margin: 0 0 2px 0;
}

.footer-txt > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
    margin: 10px 0 0 0;
}

@media screen and (max-width: 1500px) {
    .header {
        background-color: #111115;
        z-index: 100;
    }

    .header-content {
        max-width: 940px;
    }

    .header-logo {
        min-width: 82px;
    }

    .header-menu {
        max-width: 795px;
    }

    .header-menu-list {
        max-width: 431px;
    }

    .watch {
        background-color: #111115;
    }

    .watch-wrapper {
        height: 504px;
        max-width: 1000px;
        background-image: url(../../assets/image/GiantPanda1000.png);
    }

    .watch-circle {
        width: 367px;
        height: 367px;
        right: calc(25% - 72px);
        top: -11px;
    }

    .watch-circle-txt {
        width: 500px;
        height: 400px;
        margin: 54px 0 0 9px;
    }

    .watch-circle-txt > p {
        font-size: 85px;
    }

    .watch-btn {
        right: calc(20% - 63px);
        bottom: 47px;
    }

    .backstage-wrapper {
        max-width: 940px;
        background-image: unset;
    }

    .backstage-content {
        max-width: 940px;
        margin: 100px 0 140px 0;
    }

    .backstage-img {
        display: none;
    }

    .backstage-img1000 {
        display: block;
        margin: 9px 0 0 0;
    }

    .backstage-txt {
        max-width: 456px;
        margin: -1px 0 0 31px;
    }

    .pets-wrapper1 {
        max-width: 1000px;
        background-image: url(../../assets/image/palm_foto1000.png),
            url(../../assets/image/strelitzia1000.png);
    }

    .pets-wrapper2 {
        max-width: 1000px;
    }

    .pets-pagination {
        z-index: 10;
        max-width: 295px;
        width: 100%;
        height: 62px;
        left: calc(50% - 147px);
        top: 369px;
    }

    .pets-slider {
        z-index: 1;
        width: 2878px;
        height: 800px;
    }

    .pets-slider-box {
        width: 940px;
        gap: 20px 29px;
        left: 969px;
    }

    .pets-slider-elem {
        width: 294px;
        height: 354px;
    }

    .pets-slider-elem:hover {
        background-size: 314px 314px;
        background-position: center -20px;
    }

    .pets-slider-elem:hover > .pets-slider-description {
        width: 100%;
        height: 92%;
        margin: 0 0 13px 12px;
    }

    .pets-slider4 {
        display: none;
    }

    .pets-slider7 {
        display: flex;
    }

    .pets-slider1 {
        background-size: contain;
        order: 1;
    }

    .pets-slider2 {
        background-size: contain;
        order: 2;
    }

    .pets-slider3 {
        background-size: contain;
        order: 4;
    }

    .pets-slider4 {
        background-size: contain;
        order: 7;
    }

    .pets-slider5 {
        background-size: contain;
        order: 3;
    }

    .pets-slider6 {
        background-size: contain;
        order: 6;
    }

    .pets-slider7 {
        background-size: contain;
        order: 5;
    }

    .pets-slider-description {
        max-width: 269px;
        width: 100%;
        margin: 0 0 13px 16px;
        transition: 0.2s;
    }

    .pets-btn {
        margin: 80px 0 141px 0;
    }

    .friend-wrapper {
        align-items: flex-start;
        max-width: 940px;
        margin: 30px 0 50px 0;
    }

    .friend-wrapper > h2 {
        align-self: center;
        margin: 30px 0 21px 0;
    }

    .friend-wrapper > h4 {
        margin: 0 0 0 49px;
    }

    .friend-txt {
        margin: 21px 78px 10px 49px;
    }

    .friend-txt2 {
        margin: 0 68px 40px 49px;
    }

    .friend-wrapper > h3 {
        align-self: center;
        color: #333b41;
        margin: 0 0 1px 0;
    }

    .freind-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        align-self: center;
        margin: 39px 0 0 0;
    }

    .friend-arrow2 {
        margin: 61px 30px 0 29px;
    }

    .friend-btn {
        align-self: center;
        margin: 70px 0 50px 0;
    }

    .testimonials-wrapper {
        max-width: 1000px;
        background-image: url(../../assets/image/leav_foto1000.png);
        background-position: 100% 116.5%;
        background-repeat: no-repeat;
    }

    .testimonials-content {
        max-width: 940px;
        width: 100%;
        height: 601px;
        margin: 101px 0 140px 0;
    }

    .testimonials-cards {
        position: absolute;
        top: 47px;
        left: 0px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 0 30px;
        width: 3300px;
        height: 391px;
        margin: 29px 0 21px 0;
        transition: 0.4s;
    }

    .testimonials-content > h3 {
        margin: 0 0 440px 0;
    }

    .testimonials-cards .testimonials-card-background:nth-child(2),
    .testimonials-cards .testimonials-card-background:nth-child(3),
    .testimonials-cards .testimonials-card-background:nth-child(4) {
        display: none;
    }

    .testimonials-cards .testimonials-card-background:nth-child(5),
    .testimonials-cards .testimonials-card-background:nth-child(6) {
        display: flex;
    }

    .testimonials-card-background {
        width: 293px;
        height: 391px;
    }

    .testimonials-card {
        width: 289px;
        height: 387px;
    }

    .testimonials-card > h6 {
        margin: 11px 25px 0 14px;
    }

    .testimonials-cards /*костыли из-за кривого макета*/
        .testimonials-card-background:nth-child(5)
        > .testimonials-card
        > .card-title {
        margin: 8px 0 8px 15px;
    }

    .testimonials-cards /*костыли из-за кривого макета*/
        .testimonials-card-background:nth-child(1)
        > .testimonials-card
        > h6 {
        margin: 11px 20px 0 14px;
    }

    .testimonials-line {
        width: 389px;
        height: 7px;
        margin: 0 0 0 -11px;
    }

    .testimonials-control {
        width: 75px;
        height: 5px;
    }

    .testimonials-btn {
        margin: 52px 0 0 0;
    }

    .footer-wrapper {
        max-width: 940px;
    }

    .footer-logo {
        margin: 0 425px 68px 0;
    }

    .footer-subscribe {
        position: relative;
        left: -33px;
    }

    .footer-btn {
        margin: 1px 600px 44px 0;
    }

    .footer-menu {
        max-width: 332px;
    }
}

@media screen and (max-width: 999px) {
    .header {
        position: fixed;
        z-index: 70;
    }

    .header-content {
        max-width: 600px;
        height: 34px;
    }

    .header-logo {
        width: 47px;
        height: 29px;
        border: none;
        border-radius: unset;
        min-width: unset;
        margin: 3px 0 0 0;
    }

    .bamboo {
        position: absolute;
        width: 9px;
        height: 13px;
        left: 2px;
        bottom: 4px;
    }

    .header-logo > h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        text-align: center;
        color: #ffffff;
        margin: 0;
    }

    .header-menu {
        display: none;
    }

    .header-burger {
        display: flex;
    }

    .watch-wrapper {
        position: relative;
        height: 373px;
        max-width: 640px;
        width: 100%;
        background-image: url(../../assets/image/GiantPanda.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .watch-circle {
        width: 238px;
        height: 238px;
        right: 71px;
        top: 44px;
    }

    .watch-circle-txt {
        width: 256px;
        height: 205px;
        margin: 38px 0 0 37px;
    }

    .watch-circle-txt > p {
        font-size: 54.2894px;
    }

    .watch-btn {
        left: 20px;
        bottom: 40px;
    }

    .backstage-wrapper {
        max-width: 640px;
        background-image: url(../../assets/image/flower_foto640.png);
        background-position: right -5px;
        background-repeat: no-repeat;
    }

    .backstage-content {
        max-width: 600px;
        margin: 60px 0 78px 0;
    }

    .backstage-img {
        display: none;
    }

    .backstage-img1000 {
        display: none;
    }

    .backstage-txt {
        max-width: 495px;
        margin: 0 0 0 4px;
    }

    .backstage-txt2 {
        max-width: 495px;
        margin: 22px 0 30px -4px;
    }

    .backstage-txt4 {
        margin: 19px 0 0 -4px;
    }

    .pets-wrapper1 {
        max-width: 640px;
        background-image: url(../../assets/image/palm_foto640.png),
            url(../../assets/image/strelitzia640.png);
        background-position: left bottom, right bottom;
        background-repeat: no-repeat, no-repeat;
    }

    .pets-wrapper2 {
        max-width: 640px;
        width: 100%;
    }

    .pets-pagination {
        max-width: 154px;
        left: 243px;
        top: 343px;
    }

    .pets-slider {
        width: 1855px;
        height: 756px;
        overflow: hidden;
    }

    .pets-slider-box {
        width: 600px;
        gap: 92px 29px;
        left: 628px;
    }

    .pets-slider-elem {
        width: 285px;
        height: 332px;
    }

    .pets-slider-elem:hover {
        background-size: 305px 305px;
        background-position: center -20px;
    }

    .pets-slider-elem:hover > .pets-slider-description {
        position: relative;
        top: 0;
        left: 0;
        width: 92%;
    }

    .pets-slider5,
    .pets-slider6 {
        display: none;
    }

    .pets-slider-description {
        position: relative;
        top: 8px;
        left: -37px;
        transform: scale(0.8);
        max-width: unset;
        width: 320px;
    }

    .h1000 {
        display: none;
    }

    .h640 {
        display: inline-block;
    }

    .pets-btn {
        margin: 60px 0 100px 0;
    }

    .friend-wrapper {
        max-width: 640px;
        margin: 20px 0 20px 0;
    }

    .friend-wrapper > h2 {
        font-weight: 400;
        font-size: 42px;
        line-height: 120%;
        margin: 10px 0 20px 0;
    }

    .friend-wrapper > h4 {
        font-weight: 400;
        font-size: 22px;
        line-height: 120%;
        margin: 1px 0 0 20px;
    }

    .friend-txt {
        margin: 19px 15px 11px 20px;
    }

    .friend-txt2 {
        margin: 0 0 30px 20px;
    }

    .freind-content {
        position: relative;
        align-self: start;
        width: 588px;
        justify-content: space-between;
        margin: 18px 0 0 20px;
    }

    .friend-arrow1,
    .friend-arrow2 {
        display: none;
    }

    .friend-arrow1-green {
        display: block;
        position: absolute;
        width: 89px;
        height: 29px;
        top: -16px;
        left: 137px;
        background-image: url(../../assets/image/arrow-green.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .friend-arrow2-green {
        display: block;
        position: absolute;
        width: 89px;
        height: 29px;
        top: -17px;
        left: 345px;
        background-image: url(../../assets/image/arrow-green.png);
        background-position: center center;
        background-repeat: no-repeat;
    }

    .friend-btn {
        margin: 40px 0 60px 0;
    }

    .testimonials-wrapper {
        max-width: 640px;
        background-image: url(../../assets/image/leav_foto640.png);
        background-position: 100% 115%;
        background-repeat: no-repeat;
    }

    .testimonials-content {
        max-width: 600px;
        height: 527px;
        margin: 61px 0 80px 0;
    }

    .testimonials-content > h3 {
        margin: 0 0 427px -3px;
    }

    .testimonials-cards {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 15px 0;
        max-width: 600px;
        width: 100%;
        margin: 30px 0 40px 0;
    }

    .testimonials-cards .testimonials-card-background:nth-child(5),
    .testimonials-cards .testimonials-card-background:nth-child(6),
    .testimonials-cards .testimonials-card-background:nth-child(12),
    .testimonials-cards .testimonials-card-background:nth-child(13),
    .testimonials-cards .testimonials-card-background:nth-child(14),
    .testimonials-cards .testimonials-card-background:nth-child(15),
    .testimonials-cards .testimonials-card-background:nth-child(16),
    .testimonials-cards .testimonials-card-background:nth-child(17),
    .testimonials-cards .testimonials-card-background:nth-child(18) {
        display: none;
    }

    .testimonials-cards .testimonials-card-background:nth-child(7),
    .testimonials-cards .testimonials-card-background:nth-child(8) {
        display: flex;
    }

    .testimonials-card-background {
        width: 600px;
        height: 109px;
        transition: 0.4s;
        pointer-events: unset;
    }

    .testimonials-card-background:hover {
        cursor: pointer;
    }

    .popup-wrapper-alt {
        position: fixed;
        top: calc(50% - 191px);
        left: calc(50% - 134px);
        width: 267px;
        height: 391px;
        transition: 0.4s;
        z-index: 170;
    }

    .popup-wrapper-alt:hover {
        cursor: default;
    }

    .testimonials-card {
        width: 596px;
        height: 105px;
        padding: 0 0 5px 0;
        transition: 0.4s;
    }

    .popup-content-alt {
        width: 263px;
        height: 387px;
        padding: 0 0 5px 0;
        transition: 0.4s;
    }

    .testimonials-card > h6 {
        margin: 11px 14px 6px 17px;
    }

    .card-title {
        margin: 12px 0 0 10px;
    }

    .testimonials-line {
        display: none;
    }

    .testimonials-btn {
        width: 240px;
        align-self: center;
        margin: 0 0 0 0;
    }

    .hider-popup {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 160;
        transition: 0.4s;
    }

    .hider-popup-alt {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 160;
        transition: 0.4s;
    }

    .hider-popup-cross {
        position: fixed;
        top: calc(50% - 197px);
        left: calc(50% + 142px);
        width: 14px;
        height: 14px;
        background-image: url(../../assets/image/x_icon_popup.png);
        background-position: center center;
        background-repeat: no-repeat;
        transition: 0.4s;
        z-index: 170;
    }

    .hider-popup-cross:hover {
        cursor: pointer;
    }

    .hider-background {
        position: fixed;
        top: calc(50% - 213px);
        left: calc(50% - 148px);
        width: 320px;
        height: 428px;
        background-color: #f5f7f6;
        transition: 0.4s;
        z-index: 169;
    }

    .footer-wrapper {
        position: relative;
        max-width: 600px;
        margin: 12px 0 12px 0;
    }

    .footer-logo {
        margin: 0 400px 32px 0;
    }

    .bamboo-footer {
        width: 14px;
        height: 20px;
        left: 9px;
        bottom: 7px;
    }

    .footer-subscribe {
        display: none;
    }

    .footer-media {
        position: absolute;
        top: 0;
        right: 0;
        gap: 20px;
    }

    .media-wrapper > p {
        display: none;
    }

    .footer-btn {
        margin: 0 300px 60px 0;
    }

    .footer-menu {
        max-width: 296px;
        margin: 0 0 0 0;
    }

    .footer-menu-list > li > a {
        font-weight: 400;
    }

    .footer-txt {
        margin: 0 0 0 0;
    }
}

@media screen and (max-width: 639px) {
    .header-content {
        max-width: 300px;
    }

    .burger-menu {
        max-width: 320px;
    }

    .header-burger-alt {
        position: absolute;
        top: 14px;
        right: 12px;
    }

    .watch-wrapper {
        position: relative;
        height: 221px;
        max-width: 320px;
        background-image: url(../../assets/image/GiantPanda320.png);
        background-position: center 34px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .watch-circle {
        width: 119px;
        height: 119px;
        right: 38px;
        top: 56px;
    }

    .watch-circle-txt {
        width: 129px;
        height: 103px;
        margin: 19px 0 0 18px;
    }

    .watch-circle-txt > p {
        font-size: 28px;
    }

    .watch-btn {
        left: 11px;
        bottom: -74px;
    }

    .backstage-wrapper {
        max-width: 320px;
        background-image: url(../../assets/image/flower_foto320.png);
        background-position: right 38px;
        background-repeat: no-repeat;
    }

    .backstage-content {
        justify-content: flex-start;
        max-width: 300px;
        margin: 107px 0 38px 0;
    }

    .backstage-txt {
        max-width: 300px;
        margin: -2px 0 0 0;
    }

    .backstage-txt1 {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        margin: 0 0 11px 0;
    }

    .backstage-txt2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        margin: 0 0 0 2px;
    }

    .backstage-txt3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        margin: 20px 0 8px 2px;
    }

    .backstage-txt4 {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin: 0px 0 0px 0;
    }

    .pets-wrapper1 {
        max-width: 320px;
        background-image: url(../../assets/image/palm_foto320.png),
            url(../../assets/image/strelitzia320.png);
        background-position: left bottom, right 100.3%;
        background-repeat: no-repeat, no-repeat;
    }

    .pets-wrapper2 {
        max-width: 320px;
    }

    .pets-pagination {
        display: none;
    }

    .pets-slider {
        width: 300px;
        height: 1388px;
        flex-flow: column wrap;
        gap: 20px 0;
    }

    .pets-slider-box {
        width: 300px;
        gap: 20px 29px;
        left: 0;
    }

    .pets-btn {
        margin: 20px 0 60px 0;
    }

    .friend-wrapper {
        max-width: 300px;
        margin: 20px 0 20px 0;
    }

    .friend-wrapper > h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        margin: 21px 0 10px 0;
    }

    .friend-wrapper > h4 {
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        margin: 0 0 0 -3px;
    }

    .friend-txt,
    .friend-txt2 {
        display: none;
    }

    .friend-wrapper > h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        margin: 21px 0 19px 0px;
    }

    .freind-content {
        max-width: 300px;
        gap: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 0 0;
    }

    .freind-content .friend-work:nth-child(1) {
        height: 222px;
    }

    .freind-content .friend-work:nth-child(2) {
        height: 231px;
    }

    .freind-content .friend-work:nth-child(3) {
        height: 231px;
    }

    .friend-work > h5 {
        margin: 10px 0 0 0;
    }

    .friend-arrow1-green {
        top: 192px;
        left: 206px;
        transform: rotate(85deg);
    }

    .friend-arrow2-green {
        top: 440px;
        left: 206px;
        transform: rotate(85deg);
    }

    .friend-btn {
        margin: 18px 0 39px -2px;
    }

    .testimonials-wrapper {
        max-width: 320px;
        background-image: url(../../assets/image/leav_foto320.png);
        background-position: 100% 106.3%;
        background-repeat: no-repeat;
    }

    .testimonials-content {
        max-width: 300px;
        height: 490px;
        margin: 30px 0 60px 0;
    }

    .testimonials-content > h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        margin: 1px 0 407px 1px;
    }

    .testimonials-cards .testimonials-card-background:nth-child(1),
    .testimonials-cards .testimonials-card-background:nth-child(7),
    .testimonials-cards .testimonials-card-background:nth-child(8) {
        display: none;
    }

    .testimonials-cards .testimonials-card-background:nth-child(9),
    .testimonials-cards .testimonials-card-background:nth-child(10),
    .testimonials-cards .testimonials-card-background:nth-child(11) {
        display: flex;
    }

    .testimonials-cards {
        top: 29px;
        gap: 15px 0;
        max-width: 300px;
        margin: 20px 0 30px 0;
    }

    .testimonials-card-background {
        width: 299px;
        height: 109px;
        transition: 0.4s;
    }

    .testimonials-card-background:hover {
        cursor: pointer;
    }

    .popup-wrapper-alt {
        position: fixed;
        top: calc(50% - 191px);
        left: calc(50% - 134px);
        width: 267px;
        height: 391px;
        transition: 0.4s;
        z-index: 170;
    }

    .popup-wrapper-alt:hover {
        cursor: default;
    }

    .testimonials-card {
        width: 295px;
        height: 105px;
        margin: 2px 0 0 2px;
        transition: 0.4s;
    }

    .popup-content-alt {
        width: 263px;
        height: 387px;
        padding: 0 0 5px 0;
        transition: 0.4s;
    }

    .testimonials-card > h6 {
        margin: 12px 0 0 17px;
    }

    .card-title {
        margin: 8px 0 0 11px;
    }

    .card-title-txt1,
    .card-title-txt2 {
        margin: 1px 0 0 43px;
    }

    /*------------------------------------*/

    .footer-wrapper {
        display: flex;
        flex-flow: unset;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 300px;
        width: 100%;
        margin: 20px 0 20px 0;
    }

    .footer-logo {
        width: 130px;
        height: 23px;
        border: none;
        border-radius: 2px;
        margin: 0 0 0 0;
    }

    .bamboo-footer {
        left: 72px;
    }

    .footer-btn {
        margin: 86px 0 109px -1px;
    }

    .footer-media {
        flex-flow: row wrap;
        top: 53px;
        right: 53px;
        gap: 30px;
    }

    .footer-menu {
        max-width: 280px;
        margin: 0 10px 0 0;
    }

    .footer-txt {
        position: absolute;
        bottom: 45px;
        right: 1px;
    }

    .footer-txt > p {
        font-size: 15px;
        line-height: 210%;
        color: #ffffff;
        margin: unset;
    }
}
